<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
      <listener class-name="PageObjectModel.listeners"/>
      <listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Homepage">
    <classes>
      <class name="com.academy.pom.HomePage"/>
    </classes>
  </test> <!-- Test -->
  <test name="Validate Title">
  <classes>
  <class name="com.academy.pom.validateTitle"></class>
  </classes>
  </test>
</suite> <!-- Suite -->
